* {
    margin: 7px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.controls {
    margin-bottom: 20px;
}

select {
    padding: 6px;
    margin-right: 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
    gap: 12px;
}

.card {
    background: white;
    padding: 12px;
    border: 2px solid #ffd500;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px #ffd500;
}

.card h4 {
    margin: 5px 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #ff0000;
    box-shadow: 0px 0px 5px 1px #ff0000;
}

#search {
    padding: 5px;
}

#search::placeholder {
    color: #ff0000;
}